* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;

}

header {
    padding: 30px;
    justify-content: space-evenly;

}

header a {
    color: orchid;


}

#highScoresSaved {
    color: orchid;
    align-content: center;
    justify-content: end;


}

#highScoresSaved2 {
    color: orchid;
    align-content: center;
    justify-content: end;


}

#scores {
    justify-content: center;
    align-content: center;
}

footer {
    justify-content: center;
    align-content: center;
    
}

header h1 {
    color:orchid;

}

body {
    margin: 0;
    background: linear-gradient(0deg, rgb(129, 44, 126) 0%, rgb(32, 1, 61)100%);
}

p {
    margin: 5px;
}

.highScore {
    margin: 20px;
    text-align: center;
}

ul {
    margin: 20px;
    text-align: center;
}

.questionBox {
background: radial-gradient(circle, black 0%, rgb(40, 1, 77) 100%);
border: 1px solid #ecf0f1;
border-radius: 8px;
box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
  rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
margin: 0 auto;
height: 400px;
width: 80%;
padding: 5px;
justify-content: center;

}

.centerBox {
    font-size: 200%;
    text-align: center;
    height: 40%;
    margin: 20px;

}

.answerBox {
    height: 60%;
    margin: 0 auto;
    text-align: center;

}


